@import "tailwindcss";

@theme {
  --font-display: "Inter", sans-serif;
  --font-sans: var(--font-inter);

  --color-background: #ffffff;

  --color-primary: #ffcf4b;

  /* Brand Colors */
  --color-logo-primary: #000000;
  --color-logo-accent: #ffbb00;

  /* Button Colors */
  --color-btn-primary: #ffcf4b;
  --color-btn-primary-stroke: #27ae60;
  --color-btn-secondary: #f9f9f9;
  --color-btn-secondary-stroke: #cecece;

  /* Text Colors */
  --color-text-primary: #263238;
  --color-text-secondary: #65624c;

  /* Gray Scale */
  --color-gray-1: #333333;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #b7b6b8;
  --color-gray-5: #e0e0e0;

  --font-size-h1: 58px;
  --font-size-h2: 36px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-h5: 18px;
  --font-size-h6: 16px;

  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 12px;
}

body {
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}

main {
  @apply max-w-none mx-auto px-0 sm:px-0 lg:px-0 py-0;
}

.container-padding {
  @apply px-[20px] lg:px-[120px];
}
